.env

*/node_modules
*/dist
*/logs
*/coverage
*/.DS_Store
*/.env
*/.gitignore
*/.git
*/.github
*/.gitlab-ci.yml
*/.gitmodules
*/.idea
*/.vscode
*/.dockerignore
*/.dockerfile
*/.docker-compose.yml
*/.docker-compose.override.yml
*/.docker-compose.dev.yml